 /*Copied from https://jhancock532.github.io/  */

   .page__wrapper {
    display:grid;
    grid-template-columns:auto minmax(65ch, 300px) 100px
   }
   .homepage__background {
    height:100vh;
    background:#f1bdd4;
    background:linear-gradient(80deg, #f1bdd4 0%, #b7d2f1 100%)
   }
   .homepage__background-menu-overlay {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    background:#fff;
    opacity:0;
    height:100vh;
    width:100%;
    transition:opacity 1s ease-out
   }
   .homepage__jumbotron {
    position:absolute;
    left:20px;
    bottom:80px;
    width:calc(100% - 40px)
   }
   @media (min-width: 600px) {
    .homepage__jumbotron {
     left:40px;
     bottom:100px;
     width:calc(100% - 80px)
    }
   }
   @media (min-width: 900px) {
    .homepage__jumbotron {
     bottom:40px
    }
   }
   .homepage__title {
    font-family:SourceCodePro,Helvetica,Sans-serif;
    text-transform:uppercase;
    font-size:32px;
    margin:0;
    line-height:1em;
    padding-bottom:20px;
    font-weight:700
   }
   @media (min-width: 900px) {
    .homepage__title {
     font-size:48px
    }
   }
   @media (min-width: 1200px) {
    .homepage__title {
     font-size:48px
    }
   }
   @media (min-width: 900px) {
    .homepage__title {
     font-weight:500;
     padding-bottom:25px
    }
   }
   .homepage__tagline {
    font-family:SourceCodePro,Helvetica,Sans-serif;
    text-transform:uppercase;
    font-weight:400;
    font-size:22px;
    line-height:1.25em;
    margin:0
   }
   @media (min-width: 900px) {
    .homepage__tagline {
     font-size:24px
    }
   }
   @media (min-width: 1200px) {
    .homepage__tagline {
     font-size:24px
    }
   }
   .homepage__menu {
    position:fixed;
    z-index:3;
    top:20px;
    right:20px
   }
   @media (min-width: 600px) {
    .homepage__menu {
     top:40px;
     right:40px
    }
   }
   .homepage__portfolio-link {
    position:absolute;
    bottom:30px;
    left:20px;
    font-family:SourceCodePro,Helvetica,Sans-serif;
    text-transform:uppercase;
    font-size:22px
   }
   @media (min-width: 600px) {
    .homepage__portfolio-link {
     bottom:40px;
     left:40px
    }
   }
   @media (min-width: 900px) {
    .homepage__portfolio-link {
     right:40px;
     left:initial
    }
   }
   @media (min-width: 900px) {
    .homepage__portfolio-link {
     font-size:24px
    }
   }
   @media (min-width: 1200px) {
    .homepage__portfolio-link {
     font-size:24px
    }
   }
   .homepage__portfolio-link .download-cloud-icon {
    font-size:90%;
    margin-left:-1px
   }
   